[Unit]
Description=racecar

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 10
ExecStart=/bin/true

[Install]
WantedBy=multi-user.target
