[Unit]
Description=roscore
PartOf=racecar.service
After=racecar.service NetworkManager.service time-sync.target

[Service]
Type=forking
Restart=on-failure
ExecStart=/bin/sh /usr/local/sbin/roscore-start.sh

[Install]
WantedBy=racecar.service
