[Unit]
Description=pathfinder
PartOf=racecar.service
After=racecar-roscore.service
After=racecar-lidar.service

[Service]
Restart=on-failure
ExecStart=/usr/local/sbin/pathfinder

[Install]
WantedBy=racecar.service
