[Unit]
Description=lidar
PartOf=racecar.service
After=roscore.service

[Service]
Restart=on-failure
ExecStart=/bin/sh -c "\
  . /opt/ros/melodic/setup.sh && \
  rosrun urg_node urg_node _ip_address:=192.168.0.10"

[Install]
WantedBy=racecar.service
