[Unit]
Description=mcu
PartOf=racecar.service
After=racecar-roscore.service

[Service]
Restart=on-failure
ExecStart=/bin/sh -c "\
  . /opt/ros/melodic/setup.sh && \
  rosrun rosserial_arduino serial_node.py _port:=/dev/ttyACM0"

[Install]
WantedBy=racecar.service
